<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="column">

    <form th:action="@{/users/add}" method="post" th:object="${users}">
        <label>Enter your first name: </label>
        <input type="text" placeholder="Please enter your first name" th:field="*{ime}">
        <div th:if="${#fields.hasErrors('ime')}" th:errors="*{ime}"> </div>
        <br>

        <label>Enter your last name: </label>
        <input type="text" placeholder="Please enter your last name" th:field="*{prezime}">
        <div th:if="${#fields.hasErrors('prezime')}" th:errors="*{prezime}"> </div>
        <br>

        <label>Enter your email:</label>
        <input type="email" placeholder="Please enter your email" th:field="*{email}">
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> </div>
        <br>

        <button type="submit">Add user</button>
    </form>

        </div>
    </div>
</div>

</body>
</html>